@import '../theme.css';

.spinner {
  width: 10rem; height: 10rem;
  border-radius: 50%;
  border: 2rem solid #cfd0d1;
  border-bottom-color: var(--feature);
  animation: 1.5s linear infinite spinner;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}