.control {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control .container {
  display: flex;
  flex-direction: column;
}

.control .container .control-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 3rem;
}

.control .container .control-group button {
  width: 3rem;
}

.control .container .control-group div {
  max-width: 6rem;
  flex: 1;
  display: flex;
  font-size: x-large;
  justify-content: center;
  align-items: center;
}

.control .container .symbol-guess {
  margin-top: 1rem;
  display: flex;
}

.control .container .symbol-guess input {
  flex: 1;
  font-size: x-large;
  text-align: center;
}