@import "./theme.css";

.header {
  display: flex;
  justify-content: center;
}

.header-limiter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
}

.header-limiter button {
  height: 2.5rem;
  width: 2.5rem;
}

.header-limiter h1,h2,h3 {
  margin: 0;
  color: var(--background-overlay);
}

@media screen and (max-width: 650px) {
  .header-limiter {
    width: 90%;
  }
}